.box{
    padding-top:150px;
    background-color: #C9EEFF;
}
h1{
    font-size:5rem;
    color:#66BFBF;
    margin:0;
    font-family: 'Sacramento', cursive;
}
h2{
    color:#66BFBF;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#62CDFF;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    font-size:1rem;
    background-color: #C9EEFF;
    text-align:center;
    font-family: 'Merriweather', serif;
}
.c1{
    /* margin-left:450px; */
    position:absolute;
    left:950px;
    top:100px;

}
.c2{
    position:absolute;
}
.mt{
    margin-top:10px;
    height:450px;
}
.pff{
    margin-top:30px;
    height:300px;
    width:auto;
    border-radius: 100%;
}
.footer-link{
    color:#11999E
}
.linkk{
    color:#66BFBF;

}
.cmp{
    height:150px;
    border-radius: 100%;
    width:auto;
    float:left;
    margin-right:20px;
    margin-bottom: 20px;
}
.skill-row{
    text-align: left;
    float:left;
}
